:root {
    --background-color: black;
    --text-color: white;
    --table-border: white;
    --table-header-bg: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h2 {
    margin-top: 20px;
    font-size: 24px;
    border-bottom: 2px solid var(--table-border);
    padding-bottom: 5px;
}

.bus-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.bus-table th, .bus-table td {
    border-bottom: 1px solid var(--table-border);
    padding: 10px;
    font-size: clamp(14px, 2vw, 20px); /* Fontti pienenee automaattisesti, mutta ei ylitä 20px */
}

.bus-table th {
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--table-header-bg);
}

.bus-table td {
    font-weight: 300;
}

.bus-table tbody tr {
    height: 60px;
}

.on-time {
    color: #4CAF50;
}

.late {
    color: #ffc933;
}
.early {
    color: #33c5ff;
}

.delay-text {
    font-size: 0.6em;
}

/* light (vaalea) tila tyyli */
.light {
    --background-color: white;
    --text-color: black;
    --table-border: black;
    --table-header-bg: rgba(0, 0, 0, 0.1);
}
